
@{
    ViewData["Title"] = "Admin";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>


<input type="button" class="mybuttons" value="AddStudent" onclick="location.href='@Url.Action("Register", "Home")'" />
<input type="button" class="mybuttons" value="AddPending" onclick="location.href='@Url.Action("AddPending", "Home")'" />
<input type="button" class="mybuttons" value="ConvertPendingToStudent" onclick="location.href='@Url.Action("ConvertPendingToStudent", "Home")'" />
<input type="button" class="mybuttons" value="Notifications" onclick="location.href='@Url.Action("Notifications", "Home")'" />
<input type="button" class="mybuttons" value="EditStudent" onclick="location.href='@Url.Action("Edit", "Home")'" />
<input type="button" class="mybuttons" value="Alle Notities" onclick="location.href='@Url.Action("AlleNotities", "Home")'" /><br>