@model List<PluralsightUser>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h1 class="text-center">Alle Notities</h1>

        @if (Model.Count == 0)
        {

            <h2 class="center"> er zijn geen notities gevonden!</h2>
        }

        else
        {
            <div class="text-center">
                <label for="searchbox">Search:</label> <input type="text" name="editsearch2" id="searchbox">
             
                

                <table id="EditTable" class="bluetable">
                    <thead>
                        <tr>
                            <th>Naam</th>
                            <th>Aantal notities</th>
                            <th>Notitie toevoegen</th>
                            <th>Toon/Edit notities</th>
                        </tr>
                    </thead>

                    @foreach (var Person in @Model)
                    {
                        <tr>

                            <td>@Person.naam</td>
                            <td>@Person.Notities.Count</td>
                            <td>
                                <a asp-controller="Home"
                                   asp-action="NotitieToevoegen"
                                   asp-route-id="@Person.Id">
                                    Notitie Toevoegen
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Home"
                                   asp-action="NotitiesVanPersoonTabel"
                                   asp-route-id="@Person.Id">
                                    Toon/Edit Notities
                                </a>
                            </td>

                        </tr>
                    }
                </table>
                <br>
               
                    <input type="button" class="mybuttons2" value="Terug naar Admin" onclick="location.href='@Url.Action("Admin", "Home")'" />
                </div>
                @*<a href='@Url.Action("Admin", "Home")'>
                    <input type='button' value='Terug naar Admin' />
                </a>*@

                }

            </div>
        </div>
