@model PluralsightUser
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h1 class="text-center">Alle Notities</h1>

        <div class="text-center">

            @if (Model.Notities.Count != 0)
            {
                <table class="bluetable">
                    <thead>
                        <tr>
                            <th>Onderwerp</th>
                            <th>Datum</th>
                            <th>Begin Notitie</th>
                            <th>Toon/Edit notitie</th>

                        </tr>
                    </thead>



                    @foreach (var Notitie in Model.Notities)
                    {
                        <tr>
                            <td>@Notitie.onderwerp</td>
                            <td>@Notitie.Datum</td>

                            @if (Notitie.Textarea.Length > 23)
                            {
                                <td>@Notitie.Textarea.Substring(0, 23)</td>}
                            else
                            {
                                <td>@Notitie.Textarea</td>}

                            <td>
                                <a href='@Url.Action("NotitieVanPersoon", "Home", new { notitieId = Notitie.Id, Id = Model.Id })'>

                                    Toon/Edit Notitie
                                </a>

                            </td>
                        </tr>
                    }


                </table>
            }
            else
            {

                <h2 class="text-center">geen notities gevonden</h2>
            }


            <input type="button" class="mybuttons2" value="Terug naar Notities" onclick="location.href='@Url.Action("AlleNotities", "Home")'" />
            @*<a href='@Url.Action("AlleNotities", "Home")'>
                <input type='button' value='Terug naar Notities' />
            </a>*@
        </div>



    </div>
</div>