@model Notitie;
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h1 class="text-center">Notitie</h1>

        <div class="text-center">

            @*<hr class="hr">*@
            <span class="notitieinformatie" id="notitiedatum">Datum: @Model.Datum.ToShortDateString()</span>
            @*<hr class="hr">*@ 
            <span class="notitieinformatie">Onderwerp: @Model.onderwerp</span>
                                
            @*<hr class="hr">*@

            <span class="notitieinformatie">
                @Model.Textarea;
                <br>
                <br>
                <input type="button" class="mybuttons2" value="Edit Notitie" onclick="location.href='@Url.Action("EditNotities", "Home",new { modelId = Model.Id, gebruikerId = Model.User.Id })'" />
            </span>

            <br>
            <br>
            
            @*<a href='@Url.Action("EditNotities", "Home", new { modelId = Model.Id, gebruikerId = Model.User.Id })'>

            <input type='button' value='Edit Notitie' />
        </a>*@

            <br>
            <br>
            @*<hr class="hr">*@

            <input type="button" class="mybuttons2" value="Terug naar NotitieTabel" onclick="location.href='@Url.Action("NotitiesVanPersoonTabel", "Home",new { id = Model.User.Id })'" />


            @*<a href='@Url.Action("NotitiesVanPersoonTabel", "Home" , new { id = Model.User.Id })'>
                <input type='button' value='Terug naar NotitieTabel' />
            </a>*@
        </div>

        

    </div>
</div>